.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.btn {
  padding: 6px 12px;
  background-color: #A45752;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #6e3b37;
}

.input {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.85rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

h1, h2, h3, h4, h5, h6 {
  color: #2A2E37;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}

a {
  color: #2A2E37;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease, text-decoration 0.2s ease;
  text-decoration: underline;
}

a:hover {
  color: #007bff;
}

.song-result {
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  max-width: 600px;
  width: 100%;
  justify-content: flex-start;
  text-align: right;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  direction: rtl;
  transition: color 0.2s ease;
}

.song-result:hover {
  color: #A45752;
}

.song-result img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.alert {
  padding: 12px 16px;
  margin: 10px auto;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  text-align: center;
}

.alert-success {
  background-color: #798eb8;
  color:#ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
  width: 100%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* מונע גלילה לרוחב */
}

* {
  box-sizing: border-box;
}

.song-line-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.song-line {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre;
  max-width: 100%;
  transform-origin: left center;
}

@media (max-width: 768px) {
  .song-line {
    font-size: 1rem;
    transform: scaleX(calc(100vw / 600));
  }
}
